# Data Analysis of California Schools Data
## 5/12/2022

In [ ]:
# install psycopg2 in case don't have the library.
!pip install psycopg2

# for generating cool reports
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

In [1]:
# importing dependencies
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import psycopg2
from pandas_profiling import ProfileReport

In [2]:
# setting up connect to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="schools",
    user="",
    password="")

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Executing an MYSQL function using the execute() method
cursor.execute("select version()")

#Setting auto commit false
#conn.autocommit = True

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [3]:
#Retrieving `frpm` data
cursor.execute('''select * from schools.public.frpm''')

#Fetching all rows from the table
frpm_raw = cursor.fetchall();

frpm = pd.DataFrame(list(frpm_raw), 
                  columns = ["CDSCode"  
                            ,"Academic Year" 
                            ,"County Code" 
                            ,"District Code" 
                            ,"School Code" 
                            ,"County Name" 
                            ,"District Name" 
                            ,"School Name" 
                            ,"District Type" 
                            ,"School Type" 
                            ,"Educational Option Type" 
                            ,"NSLP Provision Status" 
                            ,"Charter School (Y/N)" 
                            ,"Charter School Number" 
                            ,"Charter Funding Type" 
                            ,"IRC" 
                            ,"Low Grade" 
                            ,"High Grade" 
                            ,"Enrollment (K-12)" 
                            ,"Free Meal Count (K-12)" 
                            ,"Percent (%) Eligible Free (K-12)" 
                            ,"FRPM Count (K-12)" 
                            ,"Percent (%) Eligible FRPM (K-12)" 
                            ,"Enrollment (Ages 5-17)" 
                            ,"Free Meal Count (Ages 5-17)" 
                            ,"Percent (%) Eligible Free (Ages 5-17)" 
                            ,"FRPM Count (Ages 5-17)" 
                            ,"Percent (%) Eligible FRPM (Ages 5-17)" 
                            ,"2013-14 CALPADS Fall 1 Certification Status"
                            ])

# snapshot
frpm

,CDSCode,Academic Year,County Code,District Code,School Code,County Name,District Name,School Name,District Type,School Type,...,Free Meal Count (K-12),Percent (%) Eligible Free (K-12),FRPM Count (K-12),Percent (%) Eligible FRPM (K-12),Enrollment (Ages 5-17),Free Meal Count (Ages 5-17),Percent (%) Eligible Free (Ages 5-17),FRPM Count (Ages 5-17),Percent (%) Eligible FRPM (Ages 5-17),2013-14 CALPADS Fall 1 Certification Status
0,09618530000001,2014-2015,09,61853.0,0000001,El Dorado,El Dorado Union High,"Nonpublic, Nonsectarian Schools",High School District,,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,1.0
1,10623720000000,2014-2015,10,62372.0,0000000,Fresno,Pine Ridge Elementary,District Office,Elementary School District,,...,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,1.0
2,04614240000001,2014-2015,04,61424.0,0000001,Butte,Chico Unified,"Nonpublic, Nonsectarian Schools",Unified School District,,...,1.0,0.333333,1.0,0.333333,3.0,1.0,0.333333,1.0,0.333333,1.0
3,10621660000001,2014-2015,10,62166.0,0000001,Fresno,Fresno Unified,"Nonpublic, Nonsectarian Schools",Unified School District,,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,1.0
4,19642611930288,2014-2015,19,64261.0,1930288,Los Angeles,Arcadia Unified,Arcadia High,Unified School District,High Schools (Public),...,430.0,0.124493,654.0,0.189346,3387.0,421.0,0.124299,644.0,0.190139,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10390,58727516118806,2014-2015,58,72751.0,6118806,Yuba,Wheatland,Wheatland Charter Academy,Elementary School District,K-12 Schools (Public),...,19.0,0.215909,40.0,0.454545,88.0,19.0,0.215909,40.0,0.454545,1.0
10391,58727690123570,2014-2015,58,72769.0,0123570,Yuba,Wheatland Union High,Wheatland Community Day High,High School District,District Community Day Schools,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,1.0
10392,58727695838305,2014-2015,58,72769.0,5838305,Yuba,Wheatland Union High,Wheatland Union High,High School District,High Schools (Public),...,164.0,0.224044,227.0,0.310109,711.0,158.0,0.222222,220.0,0.309423,1.0
10393,None,,,NaN,,,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10394,None,,,NaN,,,,,,,...,3119368.0,0.500184,3655624.0,0.586172,6070831.0,3032898.0,0.499585,3557989.0,0.586079,NaN

In [4]:
#Retrieving `frpm` data
cursor.execute('''select * from schools.public.sat_scores''')

#Fetching all rows from the table
sat_scores_raw = cursor.fetchall();

sat_scores = pd.DataFrame(list(sat_scores_raw), 
                  columns = ["CDSCODE", 
                             "rtype", 
                             "sname", 
                             "dname", 
                             "cname",
                             "enroll12", 
                             "NumTstTakr", 
                             "AvgScrRead", 
                             "AvgScrMath",
                             "AvgScrWrite", 
                             "NumGE1500", 
                             "PctGE1500"
                             ])

# snapshot
sat_scores

,CDSCODE,rtype,sname,dname,cname,enroll12,NumTstTakr,AvgScrRead,AvgScrMath,AvgScrWrite,NumGE1500,PctGE1500
0,00000000000000,X,,,,496901,210706,489.0,500.0,484.0,93334.0,44.30
1,01000000000000,C,,,Alameda,16978,8855,516.0,536.0,517.0,4900.0,55.34
2,01100170000000,D,,Alameda County Office of Education,Alameda,398,88,418.0,418.0,417.0,14.0,15.91
3,01100170109835,S,FAME Public Charter,Alameda County Office of Education,Alameda,62,17,503.0,546.0,505.0,9.0,52.94
4,01100170112607,S,Envision Academy for Arts & Technology,Alameda County Office of Education,Alameda,75,71,397.0,387.0,395.0,5.0,7.04
...,...,...,...,...,...,...,...,...,...,...,...,...
2326,58727365830054,S,Lincoln (Abraham) (Alternative),Marysville Joint Unified,Yuba,97,0,NaN,NaN,NaN,NaN,NaN
2327,58727365830138,S,Marysville Charter Academy for the Arts,Marysville Joint Unified,Yuba,41,29,501.0,494.0,484.0,16.0,55.17
2328,58727365835202,S,Marysville High,Marysville Joint Unified,Yuba,197,53,489.0,513.0,487.0,24.0,45.28
2329,58727690000000,D,,Wheatland Union High,Yuba,160,54,480.0,475.0,463.0,21.0,38.89
2330,58727695838305,S,Wheatland Union High,Wheatland Union High,Yuba,160,54,480.0,475.0,463.0,21.0,38.89

In [5]:
#Retrieving `frpm` data
cursor.execute('''select * from schools.public.schools''')

#Fetching all rows from the table
schools_raw = cursor.fetchall();

schools = pd.DataFrame(list(schools_raw), 
                  columns = ["CDSCode" 
                            ,"NCESDist"
                            ,"NCESSchool"
                            ,"StatusType"
                            ,"County"
                            ,"Distrinct"
                            ,"School"
                            ,"Street"
                            ,"StreetAbr"
                            ,"City"
                            ,"Zip"
                            ,"State"
                            ,"MailStreet"
                            ,"MailStrAbr"
                            ,"MailCity"
                            ,"MailZip"
                            ,"MailState"
                            ,"Phone"
                            ,"Ext"
                            ,"Website"
                            ,"OpenDate"
                            ,"ClosedDate"
                            ,"Charter"
                            ,"CharterNum"
                            ,"FundingType"
                            ,"DOC"
                            ,"DOCType"
                            ,"SOC"
                            ,"SOCType"
                            ,"EdOpsCode"
                            ,"EdOpsName"
                            ,"EILCode"
                            ,"EILName"
                            ,"GSoffered"
                            ,"GSserved"
                            ,"Virtual"
                            ,"Magnet"
                            ,"Latitude"
                            ,"Longitude"
                            ,"AdmFName1"
                            ,"AdmLName1"
                            ,"AdmEmail1"
                            ,"AdmFName2"
                            ,"AdmLName2"
                            ,"AdmEmail2"
                            ,"AdmFName3"
                            ,"AdmLName3"
                            ,"AdmEmail3"
                            ,"LastUpdate"
                            ,"district"])

# snapshot
schools

,CDSCode,NCESDist,NCESSchool,StatusType,County,Distrinct,School,Street,StreetAbr,City,...,AdmLName1,AdmEmail1,AdmFName2,AdmLName2,AdmEmail2,AdmFName3,AdmLName3,AdmEmail3,LastUpdate,district
0,01100170000000,0691051,,Active,Alameda,None,,313 West Winton Avenue,313 West Winton Ave.,Hayward,...,Monroe,lkmonroe@acoe.org,,,,,,,2015-06-23,Alameda County Office of Education
1,01100170109835,0691051,10546,Closed,Alameda,None,FAME Public Charter,"39899 Balentine Drive, Suite 335","39899 Balentine Dr., Ste. 335",Newark,...,,,,,,,,,2015-09-01,Alameda County Office of Education
2,01100170112607,0691051,10947,Active,Alameda,None,Envision Academy for Arts & Technology,1515 Webster Street,1515 Webster St.,Oakland,...,Robell,laura@envisionacademy.org,,,,,,,2015-06-18,Alameda County Office of Education
3,01100170118489,0691051,12283,Closed,Alameda,None,Aspire California College Preparatory Academy,2125 Jefferson Avenue,2125 Jefferson Ave.,Berkeley,...,,,,,,,,,2015-07-01,Alameda County Office of Education
4,01100170123968,0691051,12844,Active,Alameda,None,Community School for Creative Education,2111 International Boulevard,2111 International Blvd.,Oakland,...,Thompson,cliffordt@communityschoolforcreativeeducation.org,,,,,,,2016-07-18,Alameda County Office of Education
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,19647330120360,0622710,12525,Active,Los Angeles,None,Daniel Pearl Journalism & Communications Magnet,6649 Balboa Boulevard,6649 Balboa Blvd.,Van Nuys,...,Smith,debbie.smith@lausd.net,,,,,,,2016-03-03,Los Angeles Unified
4996,19647330120477,0622710,12447,Active,Los Angeles,None,Aspire Titan Academy,6720 South Alameda Street,6720 South Alameda St.,Huntington Park,...,Lafaurie,leilani.lafaurie@aspirepublicschools.org,Delphine,Sherman,delphine.sherman@aspirepublicschools.org,,,,2016-09-22,Los Angeles Unified
4997,19647330120527,0622710,12491,Active,Los Angeles,None,Watts Learning Center Charter Middle,8800 South San Pedro Street,8800 South San Pedro St.,Los Angeles,...,Windom,gwindom@wlccms.org,,,,,,,2016-10-07,Los Angeles Unified
4998,19647330120667,0622710,12516,Closed,Los Angeles,None,Futuro College Preparatory Elementary,1314 Dacatah Street,1314 Dacatah St.,Los Angeles,...,,,,,,,,,2013-07-09,Los Angeles Unified
4999,19647330120808,0622710,12482,Active,Los Angeles,None,Dorothy V. Johnson Community Day,10601 South Grandee Avenue,10601 South Grandee Ave.,Los Angeles,...,Stiger,kenyatta.stiger@lausd.net,,,,,,,2015-06-18,Los Angeles Unified

In [7]:
from pandas_profiling import ProfileReport

frpm_profile = ProfileReport(frpm)
frpm_profile.to_file("Free_Reduced_Priced_Meals_Profile.html")

schools_profile = ProfileReport(schools)
schools_profile.to_file("Schools_Profile.html")

sat_scores_profile = ProfileReport(sat_scores)
sat_scores_profile.to_file("Sat_Scores_Profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]